[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "/Users/jordan/.vim/bundle/vim-airline"]
	path = /Users/jordan/.vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "/Users/jordan/.vim/bundle/nerdtree"]
	path = /Users/jordan/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "/Users/jordan/.vim/bundle/ctrlp.vim"]
	path = /Users/jordan/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "/Users/jordan/.vim/bundle/taboo.vim"]
	path = /Users/jordan/.vim/bundle/taboo.vim
	url = git@github.com:gcmt/taboo.vim.git
[submodule "/Users/jordan/.vim/bundle/syntastic"]
	path = /Users/jordan/.vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "/Users/jordan/.vim/bundle/taglist.vim"]
	path = /Users/jordan/.vim/bundle/taglist.vim
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "/Users/jordan/.vim/bundle/vim-node"]
	path = /Users/jordan/.vim/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "/Users/jordan/.vim/bundle/vim-javascript"]
	path = /Users/jordan/.vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "/Users/jordan/.vim/bundle/vim-coffee-script"]
	path = /Users/jordan/.vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
